<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="post">
        <label >Name: </label><br>
        <input name="name" type="text"><br>
        <label >Email: </label><br>
        <input name="email" type="email" required><br>
        <label >Password: </label><br>
        <input name="password" type="password" required><br>
        <label >Confirm Password: </label><br>
        <input name="password2" type="password" required><br>
        <label>Phone: </label><br>
        <input name="phone" type="text"><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>